body{
    background-image: radial-gradient(circle at center,#ccdae0, #edf2f4);
    font-family: monospace;
}

header{
    text-align: center;
}

#sommaire{
    background-image: radial-gradient(#e66465, #9198e5);

}

ul{
    list-style: none;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ef233c;
}

h3{
    color: #2b2d42;
    font-weight: bolder;
    text-decoration: none;
    border-bottom: dotted;
    max-width: fit-content;
}

article{
    border:solid rgb(89, 84, 84) 2px; 
    padding: 15px;
}

img{

    border: solid 2px rgb(62, 59, 59);
}

div{
    text-align: center;
}

footer{
    text-align: center;
}

.etoilerouge::after{
    content: "💫";
}

a:link{
    color: #d90429;
}

a:visited{
    color: grey;
}

a:hover{ 
    color: #2b2d42;
}


#sommaire a:link{
    color: #781727;
}

#sommaire a:visited{
    color: rgb(69, 228, 213);
}

#sommaire a:hover{ 
    color: #6fef83;
}

.flex {
    display: flex;
}
 
.col {
    border: 2px solid #333;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

p {
    margin-left: 15px;
    line-height: 20px;
}