h1 {
    color: red;
    text-align: center;
    font-size: xxx-large;
}

h3 {
    color: blue;
    font-size: x-large;
}

p {
    background-color: gray;

}

article:nth-last-child(2) p {
    background-color: pink;
}

strong {
    color: yellowgreen;
}

em {
    font-style: normal;
    text-decoration: underline;
    font-size: large;
    color: orange;
}

article:nth-last-child(3) h3{
    color: green;
    text-align: right;
    text-decoration: underline;
}